// JOIN PAGE CONTENT
#pageTitle {
  height:285px;
  background-color:$white;
  padding-top:135px;
  h1 { font-family:$bold; color:$orange; font-size:100px; margin:0; }
}
#pageOptions {
  margin-top:76px;
  select, input {
    border-radius:4px;
    font-size:12px;
    height:32px;
    background-color:$white;
    color:scale-color($grey, $lightness: 3%);
  }
  //padding in between forms is styled inline in html line 73 & 80
}

/* BEGIN PINTEREST CARDS STYLING */
#pinterest { background-image:url(../img/crossword.png); padding-top:50px; }

.card-content {
  height:410px; // give card fixed height to prevent card changing based on content
  border-radius:4px;
  border-top:20px solid $orange;
  background-color:$white;
  box-shadow:0 10px 10px -5px rgba(0,0,0,0.08);
  padding:20px;
  overflow:hidden; // enables hiding of description when user bio pushes it down
}
.user-photo {
  width:75px;
  height:75px;
  border-radius:50%;
  background-color:$grey-light;
  margin-right:18px; // pushes ul in place horizontally
  float:left;
}
.user-name {
  height:75px;
  padding:26px 0 5px 100px;
  font-family:$bold;
  font-size:14px;
  color:scale-color($black, $lightness: 40%);
}
// Styles info icons
.user-name img {
  position:relative;
  top:-8px;
  opacity:0.5;
  &:hover {
    cursor:pointer;
  }
}
.user-bio {
  height:250px;
  padding:20px 8px 0 8px;
  p {
    font-family:$regular;
    font-size:13px;
    color:$grey;
  }
}
.event {
  height:208px;
  border-top:1px solid #ebebeb;
  margin-top:25px;
  padding-top:22px;

  ul { list-style:none; margin:0; }
  li {
    font-family:$regular;
    font-size:13px;
    color:$grey;
  }
  h3 {
    font-family:$bold;
    font-size:16px;
    margin:0;
    color:scale-color($black, $lightness: 12%);
  }
  p {
    margin-top:18px;
    font-family:$regular;
    font-size:13px;
    color:$grey;
  }
}
.card-buttons {
  .button {
    width:49%;
    background-color:$blue;
  }
  .button:hover {
    background-color:scale-color($blue, $lightness: 8%);
  }
  .disabled, .disabled:hover {
    background-color:scale-color($grey-light, $lightness: -12%);
  }
}
.event, .card-buttons {
  z-index:10;
  position:relative;
  top:-250px; // manipulated in customcards.js
  background-color:#fff;
}
// Media query for this page is on style.scss
