// JOIN PAGE CONTENT
#pageTitle {
  height:285px;
  background-color:$white;
  padding-top:135px;
  h1 { font-family:$bold; color:$orange; font-size:100px; margin:0; }
}
#pageOptions {
  margin-top:76px;
  select, input {
    border-radius:4px;
    font-size:12px;
    height:32px;
    background-color:$white;
    color:scale-color($grey, $lightness: 3%);
  }
  //padding in between forms is styled inline in html line 73 & 80
}

/* BEGIN PINTEREST CARDS STYLING */
#pinterest { background-image:url(../img/crossword.png); padding-top:50px; }

.card-content {
  height:420px; // give card fixed height to prevent card changing based on content
  border-radius:0 0 4px 4px;
  background-color:$white;
  box-shadow:0 10px 10px -5px rgba(0,0,0,0.08);
  padding:20px;
}
.card-catagory {
  height:50px;
  border-radius:4px 4px 0 0;
  background-color:$orange;
  padding:8px 10px;
  h2 {
    font-family:$medium;
    font-size:18px;
    color:$white;
  }
}
.user-photo {
  width:75px;
  height:75px;
  border-radius:50%;
  background-color:$grey-light;
  margin-right:18px; // pushes ul in place horizontally
  float:left;
}
.user-bio {
  height:65px;
  list-style:none;
  font-size:13px;
  font-family:$regular;
  line-height:20px;
  color:$grey;
}
.user-name {
  font-family:$bold;
  font-size:14px;
  padding-bottom:5px;
  color:scale-color($black, $lightness: 40%);
}
.event {
  height:225px;
  border-top:1px solid #ebebeb;
  margin-top:45px;
  padding-top:22px;

  h3 {
    font-family:$bold;
    font-size:16px;
    margin:0;
    color:scale-color($black, $lightness: 12%);
  }
  p {
    font-family:$regular;
    font-size:14px;
    color:$grey;
  }
}
.card-buttons {
  .button {
    width:49%;
    background-color:$blue;
  }
  .button:hover {
    background-color:scale-color($blue, $lightness: 8%);
  }
  .disabled, .disabled:hover {
    background-color:scale-color($grey-light, $lightness: -12%);
  }
}

// Media query for this page is on style.scss
