// UNIVERSAL STYLES
@import "swatches";

/* NAVIGATION */
@import "navigation";


/* LOGO */
#logo {
  padding:24px 0;
  span {
      font-family:$regular;
      font-size:12px;
      color:$grey;
      margin:-5px 0 0 27px;
      display:block;
  }
}


/* VIDEO BANNER */
#banner {
  height:480px;
  background-color:$grey;
  position:relative;
  overflow:hidden;
}
video {
  width:100%;
  position:absolute;
  top:-85px; // change in media query or dynamically
}


/* HOME PAGE CONTENT */
section {
  height:400px;
  h1 { font-family:$bold; font-size:80px; margin:0 0 15px 0; }
  p { font-family:$light; font-size:24px; line-height:31px; }
  a { font-family:$medium; color:$orange; position:relative; }
  a:hover { color:$orange-light; top:-2px; }
}
.section-content {
  padding-top:75px;
}
#watch, #lead {
  background-color:$white;
  h1 { color:$orange; }
  p { color: $black; }
}
#join, #learn {
  background-color:$blue;
  h1, p { color: $white; }
}
// learn has a specific padding since it is more content heavy than its peers.
#learn { padding:50px; }


/* IPAD AND MOCK-CARDS */
#ipad {
  float:right;
  width:325px;
  height:318px;
  margin-top:7px;
  background-image:url(../img/ipad.jpg);
  padding:90px 60px 0 60px;
  background-repeat:no-repeat;
}
.mock-cards {
  width:30%;
  height:90px;
  float:left;
  margin-right:6px;
  margin-bottom:20px;
  border-radius:5px;
  background-color:$white;
}
.bar {
  width:100%;
  height:20px;
  border-radius:5px 5px 0 0;
  background-color:scale-color($orange, $lightness: 50%);
  display:inline-block;
}
.mock-text {
  width:70%;
  height:8px;
  margin:5px 0 8px 9px;
  border-radius:2px;
  background-color:scale-color($grey, $lightness: 60%);
  display:block;

  -webkit-animation-name: example; /* Chrome, Safari, Opera */
  animation-name:left-right;
  -webkit-animation-duration:3s; /* Chrome, Safari, Opera */
  animation-duration:3s;
}
// Chrome, Safari, Opera
@-webkit-keyframes example {
  from { width:0%; }
  to { width:70%; }
}
// Standard Syntax
@keyframes left-right {
  from { width:0%; }
  to { width:70%; }
}


/* JOIN FEATURED CARDS */
#featured {
  width:320px;
  margin-top:-48px;
  overflow:hidden; // masks cards when they slide left :)
  .cards { width:970px; list-style-type:none; margin:0; }
  .cards > li { width:310px; display:inline-block; margin-right:10px; position:relative; }
  .card-content { height:300px; }
  .description { p { line-height:20px; color:$grey; }}
  .card-buttons { padding:18px 0; a:hover { top:0; }}
}


/* JOIN PAGE CONTENT */
@import "join";


/* FOOTER */
@import "footer";


/* MEDIA QUERIES */
@media screen and (max-width:530px) { // below 530px
  section {
    h1 { font-size:75px; margin:0 0 15px 0; }
    p { font-size:19px; line-height:26px; }
  }
  .section-content { padding-top:85px; }
  #learn {
    padding:70px 50px;
    p { font-size:16px; line-height:24px; }
  }
}
@media screen and (max-width:1024px) { // below 1024px
  video { display:none; }
  #banner { background-image:url(../img/banner-image.jpg); background-repeat:no-repeat; }

  // Join page items
  #pageTitle { height:340px; }
  #pageOptions { margin-top:0; }
}
@media screen and (min-width:1366px) { // above 1366px
  video { top:-160px; }
}
